body {
  margin: 0px;
  padding: 0px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

#banner {
  color: white;
  padding: 6px 0px 0px 0px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  background-image: url("../images/title-background.png");
}

#banner a {
  text-decoration: none;
  color: gray;
}

#banner a:hover {
  color: #C0C0C0;
}

#inner-banner {
  padding: 4px;
  color: white;
  border-top: 1px solid white;
  background-color: black;
  overflow: auto;
}

.housekeeper-form {
  width: 500px;
  margin: auto;
  display: block;
}

.housekeeper-form label {
  font-weight: bold;
  float: left;
  width: 200px;
  margin-top: 3px;
  text-align: right;
  padding: 0 1em;
}

.housekeeper-form input[type=text], input[type=password], select {
  border: 1px solid gray;
  width: 200px;
}

.housekeeper-form .submit-container {
  text-align: center;
}

.housekeeper-form .submit {
  margin-top: 10px;
}

.housekeeper-form p {
  display: block;
  clear: both;
}

#payment_forms {
  display: block;
  margin: auto;
  overflow: auto;
  width: auto;
}

#filter_form {
  display: inline;
  float: left;
  margin: 0px 20px;
  height: 100%;
  overflow: auto;
}

#amounts_form {
  float: right;
  margin: 0px 20px;
  height: 100%;
  overflow: auto;
}

#title h1 {
  font-variant: small-caps;
  padding: 4px 15px;
  margin: 4px 0px;
  display: inline;
}

#user_details {
  display: inline;
  float: right;
  font-size: small;
}

#wrapper {
  width: 1000px;
  margin: auto;
}

#links {
  float: right;
  width: 150px;
  margin: 0px -1px 0px 0px;
  font-size: smaller;
}

#links a {
  text-decoration: none;
  color: #463E3F;
}

#links a:hover {
  color: #C0C0C0;
}

#links ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

#links ul li {
  padding: 6px;
  margin: 0px 0px -1px 0px;
  border: 1px solid gray;
  background-image: url("../images/links-background.png");
}

#links ul li.selected {
  background-color: white;
  background-image: none;
  border-right: 1px dashed gray;
}

#main {
  padding: 6px;
  float: right;
  width: 800px;
  font-size: small;
  border: 1px solid gray;
  margin: auto;
}

#main h2 {
  text-align: right;
  padding: 0px;
  margin: 0px 0px 20px 0px;
  border-bottom: 1px dotted gray;
  color: #404040;
}

#main table {
  padding: 2px;
  width: 100%;
  table-layout: fixed;
}

#main table th {
  border-bottom: 2px solid black;
}

#main table tr.list-line-odd {
  background: #E0E0E0;
}

#main table tr.list-line-even {
}

#main table td {
  padding: 2px;
}

#main table td.centered {
  text-align: center;
}

#payments {
  margin: 20px auto;
}

#payments table {
  width: 100%;
  border-spacing: 8px;
}

#payments table td.table-form-centered {
  text-align: center;
}

#payments table td {
  border: 1px solid black;
  padding: 4px;
}

#payments table td.paid {
  background: green;
}

#payments table td.not_paid {
  background: red;
}