body {
  margin: 0px;
  padding: 0px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

#banner {
  color: white;
  padding: 6px 0px 0px 0px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  background-image: url("../images/title-background.png");
}

#banner a {
  text-decoration: none;
  color: gray;
}

#banner a:hover {
  color: #C0C0C0;
}

#inner-banner {
  padding: 4px;
  color: white;
  border-top: 1px solid white;
  background-color: black;
  overflow: auto;
}

.housekeeper-form {
  margin: auto;
  width: 200px;
}

.housekeeper-form input[type=text], select {
  display: block;
}

.housekeeper-form .submit {
  margin-top: 20px;
  float: right;
}

#payment_forms {
  display: block;
  margin: auto;
  overflow: auto;
  width: auto;
}

#filter_form {
  display: inline;
  float: left;
  margin: 0px 20px;
  height: 100%;
  overflow: auto;
}

#amounts_form {
  float: right;
  margin: 0px 20px;
  height: 100%;
  overflow: auto;
}

#title h1 {
  font-variant: small-caps;
  padding: 4px 15px;
  margin: 4px 0px;
  display: inline;
}

#user_details {
  display: inline;
  float: right;
  font-size: small;
}

#main {
  display: block;
  font-size: small;
}

#payments {
  margin: 20px auto;
}

#payments table {
  width: 100%;
  border-spacing: 8px;
}

#payments table td.table-form-centered {
  text-align: center;
}

#payments table td {
  border: 1px solid black;
  padding: 4px;
}

#payments table td.paid {
  background: green;
}

#payments table td.not_paid {
  background: red;
}