<div id="payments">
  <% form_tag do %>
  <fieldset>
    <legend>Filter</legend>
    <div>
      <%= check_box_tag 'paid', true, params[:paid] %>
      <label for="paid">Paid</label>
      <%= check_box_tag 'not_paid', true, params[:not_paid] %>
      <label for="not_paid">Not paid</label>
      <%= submit_tag "Filter" %>
    </div>
  </fieldset>
  <% end %>

  <div id="payments_table">
    <%= render(:partial => "payments", :object => @payments) %>
  </div>
</div>
